@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

.homepage{
    height: 100vh;

}

@media screen and (max-width: 480px) {

    .homepage{
    background-color: #FBFDFF;
    margin: 4rem 2.5rem;
    width: 80% auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

    .hamburger {
        transform: scale(1.3);
    }

    .logo {
        display: flex;
    }

    .about-text {
        margin-bottom: 3rem;
    }

    .about-text p{
        font-size: 1.6rem;
    }

    .about-text p:nth-child(2) {
        font-weight: 600;
        color: #55BC7E;
        font-size: 2rem;
    }

    .search {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        position: relative;
    }

    .search-input {
        width: 61%;
        padding: 10px 10px 10px 60px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        color: #37383D;
        opacity: 0.8;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        font-family: 'Poppins', sans-serif;
        
    }

    .search-input:focus {
        outline: none;
    }

    .search-input-icon {
        position: absolute;
        top: 15px;
        left: 25px;
        color: #37383D;
        opacity: 0.5;
        transform: scale(1.2);
    }

    .search-btn {
        height: 55px;
        width: 55px;
        background-color: black;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }

    .search-btn-icon {
        color: white;
    }

    .recent-jobs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.3rem;
        padding: 0px 5px;
    }

    .recent-jobs p {
        font-size: 14px;
        font-weight: 500;
    }

}


@media screen and (max-width: 445px) {
    .search-input {
        font-size: 14px; 
        width: 55%;
        padding: 10px 10px 10px 45px;
    }


    .search-input-icon {
        transform: scale(0.8);
        top: 12px;
        left: 15px;
    }

    .search-btn {
        height: 45px;
        width: 45px;
    }
           
}

